<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Document</title>

		<style>
			.box {
				width: 100px;
				height: 100px;
				margin-top: 10px;
			}
		</style>
	</head>
	<body>
		<h1>Welcome</h1>
		<div>
			{%for i in range(0,num)%}
			<!-- you can have jijna inside of a styel tag i know impresive -->
			<div class="box" style=" background-color:{{color}};"></div>
			{% endfor%}
		</div>
	</body>
</html>
